.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  background-color: transparent;
  color: #ffffff;
}
.footer__grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  background-color: transparent;
}
.footer__grid button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 16px 0;
  border: none;
  font-size: 15px;
  background-color: transparent;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  background-color: #1e293b;
  color: #ffffff;
}

.layout {
  position: relative;
  max-width: 600px;
  min-height: 100vh;
  margin: 0 auto;
  border-left: 1px solid #708090;
  border-right: 1px solid #708090;
}

.button, .post__box-footer button, .post-form__submit-btn {
  padding: 0.2rem 0.8rem;
  border-radius: 999px;
  border: none;
  font-size: 12px;
  line-height: 1.25rem;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.home__title {
  padding: 16px;
  font-weight: 700;
  font-size: 20px;
}
.home__tabs {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
}
.home__tab {
  padding: 16px;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
}
.home__tab--active {
  border-bottom: 2px solid #3b82f6;
  font-weight: 700;
}
.home__tab:hover, .home__tab:focus {
  background-color: rgba(60, 73, 95, 0.3725490196);
}

.post-form__textarea {
  display: block;
  width: calc(100% - 32px);
  min-height: 120px;
  padding: 16px;
  border: none;
  border-bottom: 1px solid #708090;
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  resize: none;
  outline: none;
}
.post-form__textarea::-moz-placeholder {
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #9ca3af;
}
.post-form__textarea::placeholder {
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #9ca3af;
}
.post-form__submit-area {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 1rem;
  border-bottom: 1px solid #708090;
}
.post-form__submit-area .post-form__file {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 1rem;
  cursor: pointer;
}
.post-form__submit-area .hidden {
  display: none;
}
.post-form__submit-btn {
  padding: 0.5rem 1rem;
  background-color: #60a5fa;
}

.post {
  padding-bottom: 40px;
}
.post__flex, .post__box-footer button.post__likes, .post__box-footer button.post__comments {
  display: flex;
  gap: 4px;
  align-items: center;
}
.post__email, .post__createdAt {
  font-size: 12px;
  color: #9ca3af;
}
.post__box {
  padding: 10px 0;
  border-bottom: 1px solid #708090;
}
.post__box a {
  text-decoration: none;
}
.post__box-profile {
  text-decoration: none;
  padding: 0 10px;
}
.post__box-profile-img, .post__box-profile-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
}
.post__box-content {
  display: block;
  padding: 16px 4px;
  font-weight: 500;
}
.post__box-footer {
  display: flex;
  flex-direction: row-reverse;
  gap: 8px;
  margin-top: 10px;
  padding: 0 16px;
  font-size: 14px;
}
.post__box-footer button.post__delete {
  background-color: #dc2626;
}
.post__box-footer button.post__delete:hover, .post__box-footer button.post__delete:focus {
  background-color: rgba(220, 38, 38, 0.5568627451);
}
.post__box-footer button.post__edit {
  background-color: #6b7280;
}
.post__box-footer button.post__edit a {
  background-color: transparent;
}
.post__box-footer button.post__edit:hover, .post__box-footer button.post__edit:focus {
  background-color: #4c515b;
}
.post__box-footer button.post__likes:hover, .post__box-footer button.post__likes:focus, .post__box-footer button.post__comments:hover, .post__box-footer button.post__comments:focus {
  color: #6b7280;
}