$border: #708090;
$gray: #6b7280;
$grayText: #9ca3af;
$danger: #dc2626;
$dangerDark: #dc26268e;

.comment {
  padding-bottom: 16px;

  &__borderBox {
    padding: 16px 0;
    border-bottom: 1px solid $border;
  }

  &__imgBox {
    padding: 16px 0;
  }

  &__flexBox {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
    padding: 0 16px;

    img {
      width: 48px;
      height: 48px;
      border-radius: 50%;
    }
  } 

  &__email {
    font-size: 14px;
  }

  &__createdAt {
    font-size: 12px;
    color: $grayText;
  }

  &__content {
    padding: 0px 20px;
  }

  &__submitDiv {
    display: flex;
    flex-direction: row-reverse;
    gap: 8px;
    margin-top: 8px;
    padding: 0 16px;
    font-size: 14px;

    button {
      padding: 0.2rem 0.8rem;
      background-color: $danger;
      border-radius: 999px;
      border: none;
      font-size: 12px;
      line-height: 1.25rem;
      font-weight: 600;
      cursor: pointer;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);

      &:disabled {
        opacity: 0.5;
      }

      &:hover,
      &:focus {
        background-color: $dangerDark;
      }
    }
  }
}