$background: #1e293b;
$activeBg: #3c495f5f;
$white: #ffffff;
$border: #708090;
$primaryColor: #60a5fa;
$activeBorder: #3b82f6;
$grayText: #9ca3af;
$danger: #dc2626;
$dangerDark: #dc26268e;
$gray: #6b7280;
$grayDark: #4c515b;

$font: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen','Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',sans-serif;

// 전체 레이아웃
body {
  margin: 0;
  font-family: $font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  background-color: $background;
  color: $white;
}

.layout {
  position: relative;
  max-width: 600px;
  min-height: 100vh;
  margin: 0 auto;
  border-left: 1px solid $border;
  border-right: 1px solid $border;
}

.button {
  padding: 0.2rem 0.8rem;
  border-radius: 999px;
  border: none;
  font-size: 12px;
  line-height: 1.25rem;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.transparent {
  background-color: transparent;
  backdrop-filter: blur(10px);
}

.sticky {
  position: sticky;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  top: 0;
}

// footer
.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  background-color: transparent;
  color: $white;

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    background-color: transparent;

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
      padding: 16px 0;
      border: none;
      font-size: 15px;
      background-color: transparent;
      backdrop-filter: blur(10px);
      cursor: pointer;
    }
  }
}



// home 레이아웃
.home {
  &__top {
    @extend .transparent;
    @extend .sticky;
  }
  &__title {
    width: 100%;
    padding: 16px;
    background-color: transparent;
    font-weight: 700;
    font-size: 20px;
  }
  
  &__tabs {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    width: 100%;
    background-color: transparent;
  }
  
  &__tab {
    padding: 16px;
    background-color: transparent;
    font-weight: 500;
    text-align: center;
    cursor: pointer;

    &--active {
      border-bottom: 2px solid $activeBorder;
      font-weight: 700;
    }

    &:hover,
    &:focus {
      background-color: $activeBg;
    }
  }
}

.post-form {
  &__image-area {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  &__attachment {
    display: flex;
    align-items: end;
    gap: 16px;
  }&__clear-btn {
    @extend .button;
    padding: 0.2rem 0.8rem;
    background-color: $danger;
    
    &:hover,
    &:focus {
      background-color: $dangerDark;
    }
  }
  &__input {
    width: calc(100% - 32px);
    margin-top: 8px;
    padding: 8px;
    border: none;
    font-family:  $font;
    resize: none;
    outline: none;
  }
  &__hashtags {
    padding: 16px;
    border-bottom: 1px solid $border;
    &-outputs {
      display: flex;
      flex-wrap: wrap;
      gap: 8px 1px;
      align-items: center;
    }
    &-tag {
      margin-right: 6px;
      padding: 2px 8px;
      border: 1px solid $primaryColor;
      border-radius: 10px;
      font-size: 14px;
      color: $primaryColor;
      cursor: pointer;

      &:hover,
      &:focus {
        border: 1px solid $activeBorder;
        color: $activeBorder;
      }
    }
  }
  &__textarea {
    display: block;
    width: calc(100% - 32px);
    min-height: 120px;
    padding: 16px;
    border: none;
    border-bottom: 1px solid $border;
    font-size: 20px;
    font-family: $font;
    resize: none;
    outline: none;
    
    &::placeholder {
      font-size: 20px;
      font-family: $font;
      color: $grayText;
    }
  }
  
  &__submit-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 1rem;
    border-bottom: 1px solid $border;

    .post-form__file {
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 0 1rem;
      cursor: pointer;
    }

    .hidden {
      display: none;
    }
  }

  &__submit-btn {
    @extend .button;
    padding: 0.5rem 1rem;
    background-color: $primaryColor;
  }
}

// Post 레이아웃
.post {
  &__image-div {
    padding: 16px;
  }
  &__header {
    button {
      padding: 16px;
      border: none;
    }
    &-btn {
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
  }

  &__no-posts {
    padding: 16px;
    .post__text {
      padding: 16px;
      border: 1px solid gray;
      border-radius: 4px;
      font-size: 14px;
    }
  }

  padding-bottom: 40px;

  &__flex {
    display: flex;
    gap: 4px;
    align-items: center;
  }

  &__email, &__createdAt {
    font-size: 12px;
    color: $grayText;
  }

  &__box {
    padding: 10px 0;
    border-bottom: 1px solid $border;
    a {
      text-decoration: none;
    }
  
    &-profile {
      text-decoration: none;
      padding: 0 10px;
      
      &-img, &-icon {
        width: 40px;
        height: 40px;
        margin-right: 10px;
        border-radius: 50%;
      }
    }

    &-content {
      display: block;
      padding: 16px 4px;
      font-weight: 500;
    }

    &-footer {
      display: flex;
      flex-direction: row-reverse;
      gap: 8px;
      margin-top: 10px;
      padding: 0 16px;
      font-size: 14px;

      button {
        @extend .button;
        &.post__delete {
          background-color: $danger;

          &:hover,
          &:focus {
            background-color: $dangerDark;
          }
        }

        &.post__edit {
          background-color: $gray;
          
          a {
            background-color: transparent;
          }

          &:hover,
          &:focus {
            background-color: $grayDark;
          }
        }

        &.post__likes,
        &.post__comments {
          @extend .post__flex;

          &:hover,
          &:focus {
            color: $gray;
          }
        }
      }
    }
  }
}

// form 레이아웃

.form {
  max-width: 680px;
  margin: 0 auto;
  padding: 20px;

  input {
    width: 96%;
    max-width: 680px;
    height: 20px;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 0.3rem;
  }
  &__block {
    width: 100%;
    margin-top: 20px;
  }
  &__block--lg {
    width: 100%;
    margin-top: 28px;
  }
  label {
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 500;
  }
  &__btn--submit {
    @extend .button;
    width: 100%;
    height: 48px;
    margin: 0 auto;
    padding: 10px;
    background-color: $primaryColor;
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: $activeBorder;
    }
  }
  &__title {
    padding-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
  }
  &__link {
    margin-left: 10px;
    color: $grayText;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $gray;
    }
  }
  &__error {
    color: red;
  }

  &__btn--google {
    @extend .form__btn--submit;
    background-color: $white;
    color: $activeBorder;

    &:hover,
    &:focus {
      background-color: $primaryColor;
      color: $white;
    }
  }

  &__btn--github {
    @extend .form__btn--submit;
    background-color: black;
    color: $white;

    &:hover,
    &:focus {
      background-color: $activeBg;
      color: $white;
    }
  }
}